body
{
  text-align: center;
  margin: 0px;
  font-family: 'Merriweather', serif;
}
h1
{
  margin-top:0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-bottom:0;
  color:#66BFBF;

}
h2
{
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  padding-bottom:10px;
}
h3
{
  font-family: 'Montserrat', sans-serif;


}
p
{
  color:#40514E
}
.top{
  background-color:#E4F9F5;
  padding-top:6.25rem;
  position: relative;


}


.bottom-cloud
{
  position:absolute;
  bottom:18.75rem;
  left: 18.75rem;
}
.top-cloud
{
  position:absolute;
  top:3.125rem;
  right:18.75rem;
}
.para
{
  font-size:2.50rem;
  font-weight:normal;
}
.skill-row
{
  width:50%;
  margin:6.25rem auto 6.25rem auto;
  line-height: 2;
  text-align:left;



}
.img1
{
  width:25%;
  border-radius: 100%;
  border-style: solid;
  margin-right:30px;
  float:left;
}
.img2
{
  width:25%;
  border-radius: 100%;
  border-style: solid;
  margin-left:30px;
  float:right;
}
hr
{
  border-style:none;
  border-top-style:dotted;
  border-width:0.625rem;
  width:10%;
  margin-top:2.5rem;
  margin-bottom: 2.5rem;
  border-color: #85a392;
}
.spa
{
  text-decoration: underline;
}
.mountain
{


}
.middle-container
{
  margin:100px 0;
}
.profile
{
  width:30%;
  margin:0 auto 0 auto;
}
.bottom-container
{
  background-color: #66BFBF;

}
.footer-link
{
color:#11999E;
margin:20px;
text-decoration: none;

}
.footer-link:hover
{
  color:#EAF6F6;
}

.cr
{
  color:#EAF6F6;
  font-size: 0.75rem;

}.bio
{
  line-height: 2;
}
.myButton {
  margin-top: 15px;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
